@import 'utilities';

* {
    @extend %reset;
}

.game-container {
    width: 100%;
    @extend %flex-center;
    flex-direction: column;
    margin-top: 20px;

    .game-content {
        width: 80%;
    }

    .game-image {
        img {
            width: 100%;
        }
    }

    .game-details {
        @extend %flex-center;

        .details-grid {
            margin-top: 30px;
            margin-bottom: 30px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 30px;
            grid-row-gap: 5px;


            svg {
                margin-right: 10px;
            }
            
        }

        
    }

    
}

.game-comments {
    margin-bottom: 20px;

    .comments {
        margin-top: 10px;

        .comment {
            margin-bottom: 20px;
        }
    }
}