@import 'utilities';
@import 'colors';

* {
    @extend %reset;
}

.gamecard {
    width: 268px;
    font-family: 'Roboto', sans-serif;
    color: $clr-gray;
    cursor: pointer;

    &-image {
        img {
            width: 268px;
            height: 150.75px;
            border-top-left-radius: 0.4em;
            border-top-right-radius: 0.4em;
            display: block;
        }
    }

    &-details {
        background-color: $clr-light-gray;
        border-bottom-left-radius: 0.4em;
        border-bottom-right-radius: 0.4em;
        border-left: 1px solid lighten($clr-gray, 65%);
        border-right: 1px solid lighten($clr-gray, 65%);
        border-bottom: 1px solid lighten($clr-gray, 65%);
        padding-left: 10px;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .card-details-date {
            font-size: 14px;
            padding-top: 10px;
        }

        .card-details-title {
            font-size: 18px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-weight: 700;

            &:hover {
                color: $clr-light-red;
            }
        }

        .card-details-price {
            font-size: 18px;
            font-weight: 700;
            padding-bottom: 10px;
        }
    }

    &:hover {
        
        .card-details-title {
            color: $clr-light-red;
        }
    }
}