
.latest-games {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
    width: 90%;
    grid-gap: 20px;
    justify-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}