@import "colors";
@import "utilities";

* {
  @extend %reset;
}

.navbar {
  display: flex;
  background-color: $clr-light-purple;
  height: 96px;
  align-items: center;
  font-family: 'Roboto', sans-serif;

  .logo {
    @extend %flex-center;

    img {
      width: 96px;
      height: 96px;
    }
  }

  ul {
    list-style: none;
    display: flex;
    margin-left: 32px;
    gap: 32px;

    li {

      a {
        display: inline-flex;
        vertical-align: center;
        text-decoration: none;
        color: white;
        font-weight: 700;
        font-size: larger;
        line-height: 100%;

        &:hover {
          color: $clr-logo-purple;
        }

        svg {
          margin-right: 5px;
        }
      }
    }
  }
}
