@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.list-container, .navbar .logo, .game-container, .game-container .game-details, .home-container, .home-content, .home-content .home-latest {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.list-container, .navbar .logo, .game-container, .game-container .game-details, .home-container, .home-content, .home-content .home-latest {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gamecard {
  width: 268px;
  font-family: 'Roboto', sans-serif;
  color: #363333;
  cursor: pointer;
}

.gamecard-image img {
  width: 268px;
  height: 150.75px;
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
  display: block;
}

.gamecard-details {
  background-color: #eee3d96e;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
  border-left: 1px solid #dbd9d9;
  border-right: 1px solid #dbd9d9;
  border-bottom: 1px solid #dbd9d9;
  padding-left: 10px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.gamecard-details .card-details-date {
  font-size: 14px;
  padding-top: 10px;
}

.gamecard-details .card-details-title {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
}

.gamecard-details .card-details-title:hover {
  color: #c50808;
}

.gamecard-details .card-details-price {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 10px;
}

.gamecard:hover .card-details-title {
  color: #c50808;
}

.list-container, .navbar .logo, .game-container, .game-container .game-details, .home-container, .home-content, .home-content .home-latest {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.games-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
  width: 90%;
  grid-gap: 20px;
  justify-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100%;
}

.list-container {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  flex-direction: column;
}

.list-container, .navbar .logo, .game-container, .game-container .game-details, .home-container, .home-content, .home-content .home-latest {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  background-color: #CB574E;
  height: 96px;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.navbar .logo img {
  width: 96px;
  height: 96px;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin-left: 32px;
  gap: 32px;
}

.navbar ul li a {
  display: inline-flex;
  vertical-align: center;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: larger;
  line-height: 100%;
}

.navbar ul li a:hover {
  color: #470F56;
}

.navbar ul li a svg {
  margin-right: 5px;
}

.list-container, .navbar .logo, .game-container, .game-container .game-details, .home-container, .home-content, .home-content .home-latest {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.pagination {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 90%;
  gap: 20px;
  margin-bottom: 20px;
}

.page-link {
  border: 3px solid #CB574E;
  border-radius: 6px;
  padding: 4px 8px;
  text-decoration: none;
  color: #CB574E;
}

.page-link:hover {
  background-color: #CB574E;
  color: white;
}

.list-container, .navbar .logo, .game-container, .game-container .game-details, .home-container, .home-content, .home-content .home-latest {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.game-container {
  width: 100%;
  flex-direction: column;
  margin-top: 20px;
}

.game-container .game-content {
  width: 80%;
}

.game-container .game-image img {
  width: 100%;
}

.game-container .game-details .details-grid {
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 5px;
}

.game-container .game-details .details-grid svg {
  margin-right: 10px;
}

.game-comments {
  margin-bottom: 20px;
}

.game-comments .comments {
  margin-top: 10px;
}

.game-comments .comments .comment {
  margin-bottom: 20px;
}

.list-container, .navbar .logo, .game-container, .game-container .game-details, .home-container, .home-content, .home-content .home-latest {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home-container {
  width: 100%;
  height: 100%;
  flex-direction: row;
  margin-top: 30px;
}

.home-content {
  width: 100%;
  flex-direction: column;
}

.home-content .home-newest {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.home-content .home-latest {
  width: 90%;
  flex-direction: column;
  margin-top: 20px;
}

.newest-content {
  display: flex;
  margin-top: 10px;
}

.newest-content .newest-image {
  width: 80%;
}

.newest-content .newest-image img {
  width: 100%;
  display: block;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.newest-content .newest-image img:hover {
  cursor: pointer;
}

.newest-content .newest-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #470F56;
  color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.newest-content .newest-details svg {
  margin-right: 5px;
}

@media (max-width: 685px) {
  .newest-content {
    flex-direction: column;
    width: 100%;
  }
  .newest-content .newest-details {
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
    gap: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .newest-content .newest-image {
    width: 100%;
  }
  .newest-content .newest-image img {
    width: 100%;
    border-bottom-left-radius: 0;
    border-top-right-radius: 8px;
  }
}

.latest-games {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
  width: 90%;
  grid-gap: 20px;
  justify-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.list-container, .navbar .logo, .game-container, .game-container .game-details, .home-container, .home-content, .home-content .home-latest {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #CB574E;
  height: auto;
  width: 100%;
  padding-top: 40px;
  color: white;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.8em;
  text-transform: capitalize;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: white;
}

.footer-bottom {
  background-color: #852331;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: .4;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/*# sourceMappingURL=style.css.map */